.problem-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .problem-table th, .problem-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .problem-table th {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
  }
  
  .problem-table tr {
    background-color: #fff;
  }
  
  .delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .update-button {
    background-color: rgb(2, 118, 60);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }


  .comment-column {
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .problem-table th, 
  .problem-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .problem-table th {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
  }
  
  .problem-table tr {
    background-color: #fff;
  }
  
  .problem-table td:last-child {
    white-space: nowrap;
  }
  
  